<!DOCTYPE html>
{% extends "basic_app/base.html" %}  <!-- Looks under tempaltes folder which you added in settings.py -->

{% block title_block %}Relative URL Templates{% endblock %}

{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <p> Head over to <a href="{% url 'basic_app:other' %}">Other Page</a></p>
    <p> Head over to <a href="{% url 'admin:index' %}">Admin Panel</a></p>
    <p> Head over to <a href="{% url 'index_view' %}">My Index</a></p>
    </div>
  </div>
{% endblock %}
